body{
    background-color: #dafffb;
    padding: 0px;
    margin: 0px;
}

.main_heading{
    font-family: 'Merriweather', serif;
    color: #252B48;
    letter-spacing:1px ;
    margin-left: 5%;
}

.Header{
    background-color: #E3F4F4;
    margin: 0px;
    padding: 1px;
    position: sticky;
    height:10%;
}

.NDC_Logo{
    height: 80px;
    margin-left: 5%;
    display:inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.Book_Button{
    display: inline-block;
    margin-left: 25%;
}

.Toggle_menu_Button{
    display: inline-block;
    margin-right: 5%;
}

hr{
    height:3px;
    background-color: #64CCC5;
    border: 0px;
    width:95%;
}